/* font */
#main-container h1 {
  font-family: Gill Sans;
  font-size: 28px;
  text-align: center;
}


#top-carousel {
  height: 570px;
  margin-bottom: 0;
}


#top-navbar {
  width: 100%;
  margin-bottom: -41px;
  font-family: Telugu MN;
}
#top-navbar.affix {
  top: 0;
}
#top-navbar .nav > li{
  margin-right: 80px; 
}


#main-container {
  width: 1140px;
}

section {
  padding-top:60px;
}
section > .well {
  height: 1000px;
}


#about p {
  font-size: 18px; 
}

#about .tab-content {
  margin-bottom: 10px;
}

#about .pic-large {
  width: 680px;
  height: 340px;
  display: inline-block;
  margin-right: -4px;
}

#about .pic-description {
  width: 340px;
  height: 140px;
  display: inline-block;
  
}

#about .pic-small {
  width: 170px; 
  height: 85px;
  display: inline-block;
  margin-right: -4px;
}



#contact {  
  font-family: Gill Sans;
}


footer {
  background-color: black;
  color: white;
}
