#top-carousel {
  height: 300px;
  margin-bottom: 0;
}

#top-navbar {
  width: 100%;
  margin-bottom: -41px;
}
#top-navbar.affix {
  top: 0;
}

section {
  padding-top:60px;
}
section > .well {
  height: 1000px;
}
